h1 {
    color:#fe6845;
    text-align:center;
    font-family:arial;
    font-size:250%;
    font-weight:bold;
}

div {
    /*border: solid red;*/
    font-family:courier;
    font-weight:bold;
}

:host ::ng-deep .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem.ui-state-active {
    background-color: #fe6845;
    border: 1px solid white;
}