h1 {
    color:#fe6845;
    text-align:center;
    font-family:arial;
    font-size:250%;
    font-weight:bold;
}

table {
    width: 1230px !important;
    margin: 0 auto !important; /*hogy a table középen legyen*/
    /*border:solid black;*/
    vertical-align:middle;
    border-spacing:10px;
}

td {
    /*border:solid red;*/
    text-align: center;/*hogy középen legyenenek a td-k*/
    min-width: 300px;
    
}
table td { /*hogy törje a sort :) */
    word-wrap: break-word;
    display: inline-block;
}

.button {
    background-color: #fe6845;/*háttér szín*/
    border:none;/*keret szín*/
    border-radius:20px;
    text-align: center;
    text-decoration: none;
    font-family:courier;
    font-weight:bold;
    font-size: 80px;/*gonb mérete a szöveg méretének függvényében*/
    color: white; /*betű szín*/
    cursor: pointer;
    transition-duration: 0.7s;
}

.button:hover {
    background-color:white !important;
    color:#fe6845 !important;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.70),0 17px 50px 0 rgba(0,0,0,0.70);
}

