<div>
    <table class="foodstable">
    <tr *ngFor="let food of foodbyCategory; let i = index">
        <td>{{food.name}}</td> 
        <td>{{food.price}}Ft</td>
        <td><p-spinner [(ngModel)]="val[i]" [min]="0"></p-spinner></td>
    </tr>
    </table>
</div>

<p-sidebar [(visible)]="display" position="right">
    <table class="orderstable">
        <tr>
            <th>Mennyiség</th>
            <th>Étel</th>
        </tr>
        <tr *ngFor="let food of toBeOrdered">
            <td>{{food.quantity}}db</td>
            <td>{{food.name}}</td>
        </tr>
    </table>
    <button pButton type="button" class="button" label="Megrendel" (click)="megrendel(); display = false"></button>
</p-sidebar>

<button type="text" class="button" (click)="display = true; rendeles()" pButton label="Rendelés"></button>